src/main/resources/wsdl/InvalidationMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="urn:com:bpcbt:sv:sv_sync"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="urn:com:bpcbt:sv:sv_sync">

	<xsd:complexType name="syncRequestHeadType">
		<xsd:sequence>
			<!-- Session id -->
			<xsd:element type="xsd:string" name="sessionId" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element type="tns:syncRequestHeadType" name="cancellation-request"/>

</xsd:schema>